.App {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

iframe::-webkit-scrollbar {
  display: none;
}

iframe {
  overflow: hidden !important;
}
